server:
  port: 8084

spring:
  application:
    name: auth-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://auth-db:5432/authdb}
    username: ${DB_USERNAME:auth_user}
    password: ${DB_PASSWORD:auth_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    user:
      name: admin
      password: admin

jwt:
  secret: my-super-secret-key-that-is-at-least-thirty-two-bytes-long
  expiration: 3600000 # 1 hour

