version: '3.8'

services:

  postgres:
    image: postgres:15
    container_name: pg-shipment
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://pg-shipment:5432/shipmentdb
      POSTGRES_DB: shipmentdb
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"


  zookeeper:
    image: confluentinc/cp-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  shipment-service:
    build: ./shipment-service
    ports:
      - "8081:8080"
    depends_on:
      - kafka

  notification-service:
    build: ./notification-service
    ports:
      - "8082:8080"
    depends_on:
      - kafka

  courier-service:
    build: ./courier-service
    ports:
      - "8083:8080"

  api-gateway:
    build: ./gateway-service
    ports:
      - "8080:8080"
    depends_on:
      - shipment-service
      - courier-service
