server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: shipment-service
          uri: http://shipment-service:8081
          predicates:
            - Path=/shipments/**
